$primary-color: #08a6e4;
$primary-shadow-color: rgba(7, 172, 230, 0.16);
$redish-color: #fb3b64;
$green-color: #55dfb4;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #a5a5a5;
$light-grey-color: #f7f7f7;